/* Color scheme:
primary:
black #000
yellow #dea74c
white #FFF

backgrounds:
light gray #eee
dark gray #8c8989
almost black #282a2b

text:
black #333
dark gray #525252
light gray #bfbfbf */

/*
 * Globals
 */
h2 {
  padding-bottom: 4px;
}

p a, p a:hover {
  color: #dea74c;
}

i.social {
  margin: 5px;
}

/*
 * Header
 */
.ty_header {
  background-color: #000;
  width: 100%;
  height: 67px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  border-radius: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.navbar-brand.ty_header_logo {
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 50px;
  padding-right: 20px;
}

.ty_header_logo img {
  max-width: 200px;
}

.ty_header a {
  text-decoration: none;
}

/* Header links */
.ty_header_links {
  position: relative;
  display: inline-block;
}

.ty_header_links>a {
  color: #dea74c;
}

.ty_header_links li {  
  position: relative;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 3px;
}

.ty_header_links li a {
  padding: 10px;
  color: #FFF;
}

/* Active state gets a thick underline */
.ty_header_links li a:hover {
  color: #dea74c;
  background-color: #000;
  border-bottom: 4px solid #dea74c;
}

/* Header "join us" button */
.ty_header_button {
  background-color: #000;
  width: 100px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 50px;
  font-size: 16px;
  vertical-align: top;
}

.ty_button {
  color: #dea74c;
  border: 2px solid #dea74c;
}

.ty_button:hover,
.ty_button:focus {
  color: #fff;
  background-color: #dea74c;
}

.ty_header_button:hover {
  color: #000;
}

/* Medium screen dropdown menu */
.ty_header_dropdown_med {
  background-color: #000;
  color: #FFF;
}

.ty_header_dropdown_med a:focus {
  color: #FFF;
  background-color: #000 !important;
  border: none;
}

.ty_header_dropdown_med.open a:focus:hover {
  border: none;
}

.ty_header_dropdown_med .dropdown-menu {
  background-color: #000;
  color: #FFF;
}

.ty_header_dropdown_med li a:hover {
  color: #dea74c;
  border: none;
}

/* Small screen dropdown menu */
.ty_header_dropdown_small {
  border: 2px solid #dea74c;
  background-color: #000;
  margin-top: 4px;
  margin-left: 50px;
  float: left;
}

.ty_header_dropdown_small span {
  background-color: #dea74c;
}

.navbar-collapse.collapse.in {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: -1px;
  margin-right: -1px;
  background-color: #000;
  color: #FFF;
  z-index: 1000;
  text-align: center;
}

.navbar-collapse.collapse.in .ty_header_links,
.navbar-collapse.collapse.in .ty_header_links li {
  display: block;
}

/* Remove animation of collapsing menu */
.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.navbar-collapse.in a:hover,
.navbar-collapse.in a:focus {
  color: #dea74c;
  border: none;
}

/*
 * Main content
 */

/*
 * Search results
 */
.ty_search a {
  color: #333;
}

.ty_search a:hover,
.ty_search a:focus {
  color: #dea74c;
  text-decoration: none;
}

/*
* Social sidebar
*/
.ty_twitter {
  margin-top: 30px;
  text-align: center;
  vertical-align: center;
}

.ty_twitter_image {
  margin-left: -15px;
}

#twitter-banner {
  width: 100vw;
  height: auto;
}

.ty_twitter_timeline {
  background-color: #fff;
  position: relative;
  vertical-align: middle;
  right: -30px;
}
/* Sidebar modules for boxing content */

/* Main sidebar */
.ty_main_sidebar {
  padding-top: 15px;
}

.ty_main_sidebar a {
  color: #bfbfbf;
}

.ty_main_sidebar a:hover,
.ty_main_sidebar a:focus {
  color: #525252;
  text-decoration: none;
}

/*
 * Home page
 */
.ty_featured {
  display: inline-block;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0px;
}

.ty_featured_image {
  width: 100vw;
  height: 89vh;
  overflow: hidden;

}

.ty_featured_image img {
  width: 110vw;
  height: auto;
}

.ty_featured_caption {
  position: relative;
  top: -146px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #bfbfbf;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  margin-bottom: -146px;
}

.ty_content_home {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

 /* Pagination */

/*
 * Blog posts
 */
.ty_post {
  margin-top: 30px;
}

.ty_post_snapshot {
  padding-bottom: 10px;
}

.ty_post_snapshot_thumbnail img {
  padding: 10px;
  border-radius: 100%;
}

.ty_post_snapshot h3 a {
  color: inherit;
  text-decoration: none;
}

.ty_post_snapshot h3 a:hover {
  color: #dea74c;
}
/*
* Footer
*/
.ty_footer {
  background-color: #282a2b;
  color: #bfbfbf;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -10px;
  z-index: 100;
}

.ty_footer a {
  text-decoration: none;
  color: #bfbfbf;
}

.ty_footer li {
  list-style: none;
}

.ty_footer a:hover {
  text-decoration: none;
  color: #FFF;
}

.ty_footer_icon {
  max-width: 40px;
}

.ty_footer_text {
  display: inline-block;
  border-right: 1px solid #bfbfbf;
  padding-left: 7px;
  padding-right: 12px;
  margin-bottom: 6px;
}

.ty_footer_text:last-child {
  border: none;
}