@import './variables.scss';
@import './mixins.scss';

.ty_featured {
  margin-bottom: 0px;
  position: relative;
  display: flex;
  justify-content: center;

  .ty_featured_image {
    width: 100%;
    height: 534px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  .ty_featured_caption {
    text-align: left;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 0;
    padding-bottom: 50px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    h1 > a {
      color: $white;
      @include hover_link(none);
    }
  }
  .ty_featured_caption h2 {
    margin-bottom: 20px;
  }
}

.ty_content_home {
  background-color: $white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .ty_recent_posts {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin: 0 auto 20px;
    padding: 0 24px;
    &_title {
      margin-bottom: 20px;
    }

    .ty_post_snapshot {
      margin-bottom: 30px;
    }
  }
  .ty_flex_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .social_sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.ty_browse {
  min-height: 534px;
  padding-bottom: 30px;
  background-color: $light-gray-2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .ty_recent_posts_button {
    @include ty_button;
  }
}

@media (min-width: $small + 1) {
  .ty_featured {
    &_caption {
      h1 {
        font-size: 48px;
      }
      h2 {
        font-size: 36px;
      }
    }
  }
}

@media (max-width: $small) {
  .ty_content_home {
    flex-wrap: wrap;
    .ty_recent_posts,
    .social_sidebar {
      flex: initial;
      flex-basis: 100%;
    }
  }
}
