@import './variables.scss';
@import './mixins.scss';

/*
 * Globals
 */
body {
  overflow-x: hidden;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom right, $light-gray, $dark-gray);
}

p {
  font-size: 18px;
  & a {
    color: $gold;
    text-decoration: none;
    @include hover_link(underline);
  }
}

h2 {
  padding-bottom: 4px;
}

h4 {
  font-size: 22px;
}

h1 a,
h2 a,
h3 a {
  color: $black;
  @include hover_link(none);
}

a,
.pager a {
  color: $gold;
  @include hover_link(none);
}

i.social {
  margin: 5px;
}

ul {
  padding: 0;
}

.ty_container {
  max-width: $container-max-width !important;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &.x-padding {
    padding-left: 30px;
    padding-right: 30px;
  }
  &.y-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.container {
  max-width: $container-max-width !important;
}

.ty_button {
  @include ty_button;
}

.ty_page_content {
  margin-bottom: 20px;
}

.ty_search a {
  color: $black;
  @include hover_link(none);
}

.widget-area {
  background-color: $white;
  text-align: center;
}
