@import './variables.scss';

@mixin ty_button {
  color: $gold;
  border: 2px solid $gold;
  &:hover,
  &:focus {
    color: $white;
    background-color: $gold;
  }
}

@mixin hover_link($text_decoration) {
  &:hover,
  &:focus {
    color: $gold;
    text-decoration: $text_decoration;
  }
}
