@import './variables.scss';
@import './mixins.scss';

.ty_main_sidebar {
  padding-top: 15px;
  text-align: center;
  &_list a {
    color: $dark-gray;
    @include hover_link(none);
  }
  &_title {
    color: $black;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.ty_post {
  padding: 30px 0;
  background-color: $white;

  img {
    width: 100%;
    height: auto;
  }

  &_snapshot {
    padding-bottom: 10px;
    text-align: left;
    text-shadow: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .post-text {
      padding-left: 30px;
      max-width: 500px;
      flex-grow: 1;
    }
  }

  &_summary {
    padding-bottom: 10px;
    text-align: left;
    text-shadow: none;

    h3 {
      color: $black;
      @include hover_link(none);
    }
  }
}

@media (max-width: $small) {
  .ty_post_snapshot {
    .post-text {
      padding-left: 15px;
    }
  }
}
