/* Color scheme:
primary:
black #000
yellow #dea74c
white #FFF

backgrounds:
light gray #eee
dark gray #8c8989
almost black #282a2b

text:
black #333
dark gray #525252
light gray #bfbfbf */

/*
 * Main content
 */

/*
 * Search results
 */
.ty_search a {
  color: #333;
}

.ty_search a:hover,
.ty_search a:focus {
  color: #dea74c;
  text-decoration: none;
}

/*
* Social sidebar
*/

/* Sidebar modules for boxing content */

/* Main sidebar */
.ty_main_sidebar {
  padding-top: 15px;
  text-align: center;
}

.ty_main_sidebar_list a {
  color: #525252;
}

.ty_main_sidebar_list a:hover,
.ty_main_sidebar_list a:focus {
  color: #dea74c;
  text-decoration: none;
}

.ty_main_sidebar_title,
.ty_main_sidebar_title:hover,
.ty_main_sidebar_title:focus {
  color: #333;
  text-decoration: none;
}

/*
 * Home page
 */

/*
 * Daily takes page
 */
@media (min-width: 769px) {
  .ty_daily_today {
    height: 534px;
  }
}
.ty_daily_today {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ty_daily_header a:hover,
.ty_daily_header a:focus {
  color: #fff;
  text-decoration: none;
}

/*
 * Blog posts
 */
.ty_post {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ty_post img {
  width: 100%;
  height: auto;
}

.ty_post_snapshot,
.ty_post_summary {
  padding-bottom: 10px;
  text-align: left;
  text-shadow: none;
}

.ty_post_summary h3 {
  color: #333;
}

.ty_post_summary h3 a:hover,
.ty_post_summary h3 a:focus {
  color: #dea74c;
  text-decoration: none;
}

/*
* Footer
*/
