/* Color scheme:
primary:
black #000
yellow #dea74c
white #FFF

backgrounds:
light gray #eee
dark gray #8c8989
almost black #282a2b

text:
black #333
dark gray #525252
light gray #bfbfbf */

/*
 * Globals
 */
body {
  overflow-x: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  font-size: 18px;
}

h2 {
  padding-bottom: 4px;
}

h4 {
  font-size: 22px;
}

h1 a,
h2 a,
h3 a {
  color: #333;
}

h1 a:hover,
h1 a:focus,
h2 a:hover, 
h2 a:focus,
h3 a:hover
h3 a:focus {
  color: #dea74c;
  text-decoration: none;
}

p a {
  color: #dea74c;
}

p a:hover,
p a:focus {
  text-decoration: underline;
  color: #dea74c;
}

a, a:hover, a:focus {
  text-decoration: none;
  color: #dea74c;
}

i.social {
  margin: 5px;
}

@media (min-width: 769px) {
  .ty_featured_caption h1 {
    font-size: 48px;
  }

  .ty_featured_caption h2 {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .ty_twitter_overlay h2,
  .ty_featured_caption h2 {
    font-size: 20px;
  }
}

/*
 * Header
 */
.ty_header {
  background-color: #161616;
  width: 100%;
  height: 67px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  border-radius: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.navbar-brand.ty_header_logo {
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 50px;
  padding-right: 20px;
}

.ty_header_logo img {
  max-width: 200px;
}

.ty_header a {
  text-decoration: none;
}

/* Header links */
.ty_header_links {
  position: relative;
  display: inline-block;
}

.ty_header_links>a {
  color: #dea74c;
}

.ty_header_links li {  
  position: relative;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 3px;
}

.ty_header_links li a {
  padding: 10px;
  color: #FFF;
}

/* Active state gets a thick underline */
.ty_header_links li a:hover,
.ty_header_links li a:active,
.ty_header_links li a:focus {
  color: #dea74c;
  background-color: #161616;
  border-bottom: 4px solid #dea74c;
}

/* Header "join us" button */
.ty_header_button {
  background-color: #161616;
  width: 100px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 50px;
  font-size: 16px;
  vertical-align: top;
}

.ty_button {
  color: #dea74c;
  border: 2px solid #dea74c;
}

.ty_button:hover,
.ty_button:focus {
  color: #fff;
  background-color: #dea74c;
}

.ty_header_button:hover {
  color: #161616;
}

/* Medium screen dropdown menu */
.ty_header_dropdown_med {
  background-color: #161616;
  color: #FFF;
}

.ty_header_dropdown_med a:focus {
  color: #FFF;
  background-color: #161616 !important;
  border: none;
}

.ty_header_dropdown_med.open a:focus:hover {
  border: none;
}

.ty_header_dropdown_med .dropdown-menu {
  background-color: #161616;
  color: #FFF;
}

.ty_header_dropdown_med li a:hover,
.ty_header_dropdown_med li a:focus {
  color: #dea74c;
  border: none;
}

/* Small screen dropdown menu */
.ty_header_dropdown_small {
  border: 2px solid #dea74c;
  background-color: #161616;
  margin-top: 4px;
  margin-left: 50px;
  float: left;
}

.ty_header_dropdown_small span {
  background-color: #dea74c;
}

.navbar-collapse.collapse.in {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: -1px;
  margin-right: -1px;
  background-color: #161616;
  color: #FFF;
  z-index: 1000;
  text-align: center;
}

.navbar-collapse.collapse.in .ty_header_links,
.navbar-collapse.collapse.in .ty_header_links li {
  display: block;
}

/* Remove animation of collapsing menu */
.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.navbar-collapse.in a:hover,
.navbar-collapse.in a:focus {
  color: #dea74c;
  border: none;
}

/*
 * Main content
 */
.ty_page_content {
  margin-bottom: 20px;
}

/*
 * Search results
 */
.ty_search a {
  color: #333;
}

.ty_search a:hover,
.ty_search a:focus {
  color: #dea74c;
  text-decoration: none;
}

/*
* Social sidebar
*/
.ty_twitter {
  text-align: center;
  vertical-align: middle;
}

.ty_twitter_overlay {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding-top: 24%;
  padding-left: 10%;
  padding-right: 10%;
}

.ty_twitter_image {
  margin-left: -15px;
  margin-right: -15px;
}

#twitter-banner {
  width: 100%;
  height: auto;
}

.ty_twitter_timeline {
  background-color: #fff;
  position: relative;
  vertical-align: middle;
  z-index: 10;
}
/* Sidebar modules for boxing content */

/* Main sidebar */
.ty_main_sidebar {
  padding-top: 15px;
  text-align: center;
}

.ty_main_sidebar_list a {
  color: #525252;
}

.ty_main_sidebar_list a:hover,
.ty_main_sidebar_list a:focus {
  color: #dea74c;
  text-decoration: none;
}

.ty_main_sidebar_title,
.ty_main_sidebar_title:hover,
.ty_main_sidebar_title:focus {
  color: #333;
  text-decoration: none;
}

/*
 * Home page
 */
.ty_featured {
  display: inline-block;
  margin-bottom: 0px;
  width: 100vw;
  height: 534px;
}

.ty_featured_image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.ty_featured_caption {
  width: 100vw;
  height: 534px;
  padding-top: 12%;
  text-align: center;
  position: relative;
  top: 0px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.ty_featured_caption h2 {
  margin-bottom: 20px;
}

.ty_featured_button {
  color: #fff;
  text-shadow: none;
  background-color: #282a2b;
  border-color: #282a2b;
}

.ty_featured_button:hover,
.ty_featured_button:focus {
  color: #dea74c;
  background-color: #282a2b;
}

.ty_content_home {
  margin-top: 30px;
}

.ty_recent_posts {
  margin-bottom: 20px;
}

.ty_recent_posts_title {
  display: inline-block;
}

.ty_recent_posts_button {
  display: inline-block;
}

.ty_flex_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ty_browse {
  min-height: 534px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*
 * Daily takes page
 */
@media (min-width: 769px) {
  .ty_daily_today {
    height: 534px;
  }
}
.ty_daily_today {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ty_daily_header a:hover,
.ty_daily_header a:focus {
  color: #fff;
  text-decoration: none;
}
 
/* Pagination */
.pager a,
.pager a:hover,
.pager a:focus {
  color: #dea74c;
  text-decoration: none;
}

/*
 * Blog posts
 */
.ty_post {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ty_post img {
  width: 100%;
  height: auto;
}

.ty_post_snapshot,
.ty_post_summary {
  padding-bottom: 10px;
  text-align: left;
  text-shadow: none;
}

.ty_post_summary h3 {
  color: #333;
}

.ty_post_summary h3 a:hover,
.ty_post_summary h3 a:focus {
  color: #dea74c;
  text-decoration: none;
}

/*
* Footer
*/
.ty_footer {
  background-color: #282a2b;
  color: #bfbfbf;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 100;
}

.ty_footer a {
  text-decoration: none;
  color: #bfbfbf;
}

.ty_footer li {
  list-style: none;
}

.ty_footer a:hover,
.ty_footer a:focus {
  text-decoration: none;
  color: #FFF;
}

.ty_footer_icon {
  max-width: 40px;
}

.ty_footer_text {
  display: inline-block;
  border-right: 1px solid #bfbfbf;
  padding-left: 7px;
  padding-right: 12px;
  margin-bottom: 6px;
}

.ty_footer_text:last-child {
  border: none;
}