@import './variables.scss';

.ty_twitter_timeline {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.instagram-pics {
  display: flex;
  flex-wrap: wrap;

  li {
    flex: 1;
    flex-basis: 100%;

    > a > img {
      width: 100%;
      max-width: 380px;
      max-height: 380px;
    }
  }
}

@media (max-width: $small) {
  .ty_twitter {
    .ty_twitter_overlay h2,
    .ty_featured_caption h2 {
      font-size: 20px;
    }
  }

  ul.instagram-pics {
    li {
      flex-basis: 100%;
    }
  }
}
